<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparison</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                <img src="/static/img/hirenet.png" alt="HireNet Logo" style="width: 150px; height: auto;">
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                    <li><a href="{{ url_for('candidates') }}" ><i class="fas fa-users"></i> Candidates</a></li>
                    <li><a href="{{ url_for('open_position') }}"><i class="fas fa-briefcase"></i> Open Position</a></li>
                    <li><a href="{{ url_for('job_matching') }}"><i class="fas fa-file-alt"></i> Resume Extraction</a></li>
                    <li><a href="{{ url_for('schedule') }}"><i class="fas fa-calendar-alt"></i> Schedule</a></li>
                    <li><a href="{{ url_for('comparison') }}"class="active"><i class="fas fa-balance-scale"></i> Comparison</a></li>
                </ul>
            </nav>
        </div>

        <div class="main-content">
            <header>
                <h3>Comparison Page</h3>
            </header>
            <p>This is the support page content.</p>
        </div>
    </div>
</body>
</html>
